/*@import url("https://cdnjs.cloudflare.com/ajax/libs/picnic/7.1.0/picnic.min.css");*/
/*@import url("https://unpkg.com/@picocss/pico@latest/css/pico.min.css");*/
/*@import url("https://unpkg.com/mvp.css");*/
/*@import url("https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css");*/
@import url("https://unpkg.com/turretcss/dist/turretcss.min.css");
/*@import url("https://unpkg.com/chota@latest");*/
/*@layer environment {*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    color: #333;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding: 1em;
}

body {
    display: flex;
    flex-direction: row;
}

#sidebar {
    height: 100%;
    background: #eee;
    padding: 1em;
}

.sidebar-group {
    margin-bottom: 1em;
}